<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: "Image Set Test"}}</title>
</head>

<style>
    .wrapper {
        line-height: 30px;
        max-width: 60%;
        margin: auto;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }

    img {
        width: 100%;
    }

    td {
        border: 1px #333 solid;
        padding: 5px;
    }

    th {
        border: 1px #333 solid;
    }
</style>

<body class="wrapper">
    <div>
        <a href="/"> >> Home </a>
    </div>
    <div>
        {{ content }}
    </div>
</body>

</html>